/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*default font for the body*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*for the navigation bar*/
nav{
	top: 0;
	padding: 15px 15px 15px 15px;
	background-color: white;
	position: sticky;
}

nav > ul {
	list-style-type: none;
	align-content: center;
}

.nav-logo, .right-nav{
	padding: 30px 0 30px 10%;
	display: inline;
	vertical-align: top;
}
/*to align logo with the rest of the navbar*/
#logo{
	position: absolute;
	top: 25px;
}

/*moves the navbar little bit to the right*/
.right-nav{
	margin-left: 25%;
}

.right-nav .nav{
	display: inline-block;
	padding-left: 20px;
	margin-top: 5px;
}

.tuitt-button{
	background-color: #c2195b;
	color: white;
	padding: 0.8rem 1rem;
	border-radius: 2em;
	font-weight: bold;
	border-width: 0;
}

/*for the landing section*/
#bg-image{
	background-size: 100%;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-position: 0px;
}

.front-bg {
	background-color: rgb(0, 0, 0, 0.5);
}

.container{
	padding-right: 5%;
	margin-left: 55%;
	font-size: 30px;
	text-align: right;
}

.title{
	color: white;
	font-family: 'Zilla Slab', monospace;
	font-size:1.4em;
	padding-bottom: 20px;
}

.subtitle{
	color: white;
	font-size: 0.7em;
	padding-left: 27%;
	font-weight: 200;
	padding-bottom: 10px;
}

.apply-button{
	background-color: #c2195b;
	color: white;
	padding: 1rem 3.5rem;
	border-radius: 2em;
	font-weight: bold;
	border-width: 0;

}
/*for the intro section*/
.intro {
	padding: 8vh;
}
.intro .title-2{
	font-family: 'Zilla Slab', monospace;
	font-size: 2rem;
	text-align: center;
	padding: 50px 0px;
}

.intro-description{
	padding: 25px;
}
/*for the pre-footer section*/
.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	padding: 8vh;
}

.pre-footer .title-2{
	font-family: 'Zilla Slab', monospace;
	font-size: 2rem;
}

.prefooter-description {
	padding: 25px 25px;
}

.book-button{
	background-color: #336589;
	color: white;
	padding: 1rem 3.5rem;
	border-radius: 2em;
	font-weight: bold;
	border-width: 0;
}
/*footer*/
footer {
	padding: 0.7rem;
	text-align: center;
}

footer span {
	margin: 0, 0.5rem
}